.ig-ui--button {
  margin: 0;
  padding: 0;
  background: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  border: none;
  outline: none;

  &.ig-ui--button--controls {
    font-size: 18px;
    min-width: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}