.igui_button {
  margin: 0;
  padding: 0;
  background: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  border: none;
  outline: none;
  user-select: none;
}

.igui_button_state-disabled {
  pointer-events: none;
  opacity: .5;
}