.igui_settings {
  position: absolute;
  right: 9px;
  bottom: 58px;
  background-color: #222222;
  border-radius: 2px;
  color: #fff;
  z-index: 1;
  min-width: 180px;
  overflow-y: auto;

  .igui_state-fullscreen & {
    bottom: big-mode(58px);
  }

  .igui_state-mobile & {
    @include stretch();
  }
}

.igui_button_name-mobile-close {
  float: right;
  width: 31px;
  height: 31px;
  font-size: 18px;
  position: relative;
  z-index: 1;
}

.igui_settings_nooptions {
  padding: 8px 16px;
}

.igui_settings_select {
  margin: 3px 0;

  .igui_button_name-select-option {
    display: block;
    padding: 8px 16px;
    width: 100%;
    text-align: left;

    &.igui_button_state-active {
      text-decoration: underline;
    }

    &:hover {
      background-color: #333333;
    }

    .igui_settings_select_option_info {
      float: right;
    }
  }
}

.igui_settings_header {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #555555;
  display: flex;
  align-items: center;

  .igui_button_name-settings-back {
    margin-right: 8px;
    font-size: 16px;
  }

  .igui_button_name-settings-options {
    margin-left: auto;
    font-size: 11px;
  }
}
