@import url("https://use.fontawesome.com/releases/v5.6.3/css/solid.css");
@import url("https://use.fontawesome.com/releases/v5.6.3/css/fontawesome.css");

.ig-ui {
  color: #fff;
  position: relative;
}

.igui_main {
  width: 100%;
  height: 100%;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}