@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.ig-ui {
  color: #fff;
  position: relative;
}

.igui_main {
  width: 100%;
  height: 100%;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}