.ig-container {
  color: #fff;
  -webkit-tap-highlight-color: transparent;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 13px;

  * {
    box-sizing: border-box;
  }
}

.igui_state-fullscreen {
  font-size: 16px;
}
