.igui_view_start {
  @include stretch();
  @include reset-button();
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .igui_icon_play {
    font-size: 48px;
    z-index: 1;
  }
}