.igui_container_controls {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  display: flex;

  opacity: 0;
  transition: opacity 100ms linear;

  &:before {
    content: '';
    position: absolute;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
    left: 0;
    right: 0;
    bottom: 0;
    top: -80px;
    z-index: -1;
    pointer-events: none;
  }

  .igui_button {
    width: 36px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    .igui_icon {
      font-size: 26px;
    }

    .igui_button_tooltip {
      position: absolute;
      bottom: 58px;
      left: 50%;
      pointer-events: none;
      transform: translateX(-50%);
      background-color: #222222;
      border-radius: 2px;
      padding: 4px 6px;
      white-space: nowrap;
    }
  }

  .igui_button_name-play {
    left: 9px;
    bottom: 0;
    position: absolute;

    .igui_button_tooltip {
      left: 2px;
      transform: translateX(0);
    }
  }

  .igui_volume {
    left: 45px;
    bottom: 0;
    position: absolute;
  }

  .igui_timestat {
    left: 91px;
    bottom: 12px;
    position: absolute;
    transition: left 150ms ease-in-out;
    user-select: none;

    .igui_state-volumecontrols-open & {
      left: 155px;
    }
  }

  .igui_button_name-pip {
    right: 81px;
    bottom: 0;
    position: absolute;
  }

  .igui_button_name-settings {
    right: 45px;
    bottom: 0;
    position: absolute;
  }

  .igui_button_name-fullscreen {
    right: 9px;
    bottom: 0;
    position: absolute;

    .igui_button_tooltip {
      right: 2px;
      left: auto;
      transform: translateX(0);
    }
  }

  .igui_state-active & {
    opacity: 1;
  }
}

.igui_container_controls_seekbar {
  padding: 0 12px;
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 34px;
}