@font-face {
  font-family: 'igui-icon-font';
  src: url('./fonts/icons.ttf') format('truetype'),
    url('./fonts/icons.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

.igui-icon-font {
  font-family: 'igui-icon-font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.igui_icon_back:before {
  content: "\e90c";
}
.igui_icon_settings:before {
  content: "\e90b";
}
.igui_icon_pip:before {
  content: "\e900";
}
.igui_icon_hd:before {
  content: "\e901";
}
.igui_icon_cc:before {
  content: "\e902";
}
.igui_icon_fullscreen-exit:before {
  content: "\e903";
}
.igui_icon_fullscreen:before {
  content: "\e904";
}
.igui_icon_pause:before {
  content: "\e905";
}
.igui_icon_volume-2:before {
  content: "\e906";
}
.igui_icon_volume-off:before {
  content: "\e907";
}
.igui_icon_volume-1:before {
  content: "\e908";
}
.igui_icon_play-rounded:before {
  content: "\e909";
}
.igui_icon_play:before {
  content: "\e90a";
}
